<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="w3b-codeprettify">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
    <pre class="prettyprint">{{codeSnippet}}</pre>
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'w3b-codeprettify',

    properties: {
      codeSnippet: {
        type: String
      }
    }
  });
})();
</script>

